<div>
    <app-navbar></app-navbar>
</div>
<div style="height: 30px;"></div>

<div *ngIf="users.length > 0" class="flex flex-wrap gap-4 justify-center">
<div *ngFor="let user of users" class="w-1/4 sm:w-1/4 lg:w-1/4">
    <a href="" class="block p-6 bg-white border border-gray-200 rounded-lg shadow hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700">
    <strong>Nombre:</strong> {{ user.name }} <br />
    <strong>Email:</strong> {{ user.email }} <br />
    <strong>Cumpleaños:</strong> {{ user.birthday }} <br />
    <strong>Género:</strong> {{ user.gender }} <br />
    </a>
</div>
</div>
<div style="height: 50px;"></div>
  


  
